[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = {extras = ["standart"], version = "*"}
redis = {extras = ["hiredis"], version = "*"}
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
python-jose = "*"
email-validator = "*"
dependency-injector = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
pytest-repeat = "*"
httpx = "*"
faker = "*"

[requires]
python_version = "3.10"
